.question-title {
    font-size: 40px;
}

.question-name-area {
    text-align: center;
}

.rounded-question-number {
    text-align: center;
    line-height: 50px;
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    font-size: 25px;
    display: inline-block;
    margin-right: 10px;
    font-weight: 1000;   
    user-select: none;

}

body {
    background-color: rgb(41, 41, 41);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.answer-area {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 40px;
    justify-content: center;
    align-items: center;
}





.answer {
    width: 200px;
    height: 50px;
    background-color: black;
    border-radius: 20px;
    text-align: center;
    transition: all 0.2s;
    border-color: rgb(21, 0, 207);
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center center;
    box-sizing: border-box;
    border-width: 0px;

}

.answer:hover {
    border-style: solid;
    border-width: 2px;
    transform: scale(1.2) translateZ(0);
    font-weight: bold;
}

.questions-completed {
    top: 5px;
    left: 5px;
    position: fixed;
}

.game-type {
    top: 5px;
    right: 5px;
    position: fixed;
}

@media only screen and (max-width: 800px) {
    .answer-area {
        grid-template-columns: none;
    }

    .question-name-area {
        margin-top: 30px;
    }
}
